* {
    border: 2px solid #aa1212;


    box-shadow: 4px 4px 20px black;
    
}
body {
    background-color: brown;
    color: orange;
    text-decoration-color: red;
    text-shadow: 5px 4px 3px black;
    background: linear-gradient(#fff, #ff00ff);
    text-align:center;
    margin:0 auto 0;
    max-width:auto;
    
}
h1, p, h2, h3 {
    background: linear-gradient(#ff00ff, #00ff00);
    margin:0 auto 0;
    max-width:fit-content;
    padding:10px 10em;
}
